            <volist name="itemList" id="item">
            <li class="item">
                <div class="main">
                    <div class="img">
                        <a href="{:U('Item/index',array('id'=>$item['id']))}">
                            <img src="{:attach(get_thumb($item['img'], '_b'), 'item')}">
                        </a>
                    </div>
                    <h3 class="pname">
                        <a href="{:U('Item/index',array('id'=>$item['id']))}">{$item.title}</a>
                    </h3>
                    <p class="price">猫眼价：¥{$item.price}</p>
                </div>
            </li>
            </volist>