<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>会员中心 - 我的地址</title>
<link rel="stylesheet" type="text/css" href="../Style/shop.css" />
<script charset="utf-8" src="../Style/js/jquery.js" type="text/javascript"></script>
<script charset="utf-8" src="../Style/js/ecmall.js" type="text/javascript"></script>
<script charset="utf-8" src="../Style/js/touchslider.dev.js"></script>
<script charset="utf-8" type="text/javascript" src="../Style/js/dialog.js" id="dialog_js"></script>
<script charset="utf-8" type="text/javascript" src="../Style/js/jquery.ui.js" ></script>
<script charset="utf-8" type="text/javascript" src="../Style/js/jquery.validate.js" ></script>
<script charset="utf-8" type="text/javascript" src="../Style/js/mlselection.js" ></script>
</head>
<body>
<include file="public:head" />
<div id="content">
	<include file="User:membertop" />
    <!--<h3 class="membertop">
       <p class="my_name"> <span class="profile_name">
       <a href="{:U('User/username')}">
        <if condition="$visitor['nickname'] neq NULL">{$visitor.nickname}
        <elseif condition="$visitor['username'] neq NULL"/>{$visitor.username}
        <else/>{$visitor.wechatid}</if></a> 
       <a href="{:U('User/username')}" title="修改呢称"><i class="icon_pen"></i></a></span>
	    <a href="{:U('User/chongzhi')}" style="font-size:14px;">充值</a>
       <a href="{:U('User/account')}" style="font-size:14px;" >帐户中心</a>
       <a href="{:U('Zhuanpan/index')}" style="font-size:14px;">大转盘</a>
	   </p>
       <p class="my_btns"><a href="{:U('User/address')}" class="address">收货地址管理</a> <a href="{:U('User/logout')}" class="logout">退出</a></p>
    </h3>-->
    <div class="wrap">
        <div class="eject_btn" title="新增地址"><a class="enter" href="{:U('User/addaddress')}">新增地址</a></div> 
        <!-----------
        <ul class="address_list">
            <li class="no_address">
            <span class="noaddress">您没有添加收货地址</span>
            </li>
        </ul>
        ------>
        <ul class="address_list">
        <volist name='address_list' id='vo' >
            <li>
                <p>{$vo.consignee}({$vo.mobile})</p>
                <p>{$vo.sheng}&nbsp;{$vo.shi}&nbsp;{$vo.qu}&nbsp;{$vo.address}</p>
                <p class="new_line"><br /></p>
                <p class="address_action">
                    <span class="edit"><a href="{:U('User/edit_address',array('id'=>$vo['id']))}"><i class="edit_icon"></i>编辑</a></span>
                    <span><a href="{:U('User/address',array('id'=>$vo['id'],'type'=>'del'))}" class="delete float_none"><i class="delete_icon"></i>删除</a></span>
                </p>
            </li>
          </volist>
        </ul>
        <div class="public table" style="display:none;">
            <table class="table_head_line">
               
                <tr class="line_bold">
                    <th colspan="6"></th>
                </tr>
                <tr class="line tr_color">
                    <th>收货人姓名</th>
                    <th>所在地区</th>
                    <th class="width3">详细地址</th>
                    <th>邮政编码</th>
                    <th class="width5">电话/手机</th>
                    <th>操作</th>
                </tr>
                
                <tr>
                    <td colspan="6" class="member_no_records padding6">您没有添加收货地址</td>
                </tr>
            </table>
        </div>
        <div class="wrap_bottom"></div>
    </div>
</div>
<include file="public:footer" />
</body>
</html>