<include file="public:header" />
<script charset="utf-8" src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
<!--支付方式-->

<div class="subnav">
    <h1 class="title_2 line_x">微信支付信息</h1>
</div>
<form id="wxinfo_form" action="{:u('wxpay/index')}" method="post" enctype="multipart/form-data">
<div class="pad_lr_10">
	<div class="col_tab">
		
		<div class="J_panes">
        <div class="content_list pad_10">
		<table width="100%" cellpadding="2" cellspacing="1" class="table_form">
			<input type="hidden" name="id" value="{$wxinfo.id}" >
           <tr>
				<th>身份标识(appId):</th>
				<td><input type="text" name="appid" id="J_appid" class="input-text" size="60" value="{$payconfig.appid}"></td>
			</tr>
			 <tr>
				<th>身份密钥(appSecret):</th>
				<td><input type="text" name="appsecret" id="J_secret" class="input-text" size="60" value="{$payconfig.appsecret}"></td>
			</tr>
			 <tr>
				<th>通信密钥(paySignKey):</th>
				<td><input type="text" name="signkey" id="J_signkey" class="input-text" size="60" value="{$payconfig.signkey}"></td>
			</tr>
            <tr>
				<th>商户身份(partnerId):</th>
				<td><input type="text" name="partnerid" id="J_partnerid" class="input-text" size="60" value="{$payconfig.partnerid}"></td>
			</tr>
            <tr>
				<th>商户密钥(partnerKey):</th>
				<td><input type="text" name="partnerkey" id="J_partnerkey" class="input-text" size="60" value="{$payconfig.partnerkey}"></td>
			</tr>
			 <tr>
				<th>是否开启:</th>
				<td>
                <input type="radio" name="status" class="input-radio" value="1"<if condition="$wxinfo.status eq 1">checked="checked"</if>  />开启
                <input type="radio" name="status" class="input-radio" value="0"<if condition="$wxinfo.status eq 0">checked="checked"</if> />关闭
            </td>
			</tr>

		</table>
		</div>
        
        </div>
		<div class="mt10"><input type="submit" value="{:L('submit')}" class="btn btn_submit"></div>
	</div>
</div>
<input type="hidden" name="menuid"  value="{$menuid}"/>
</form>
<include file="public:footer" />
<script type="text/javascript">
$('.J_cate_select').cate_select('请选择');
$(function() { 		   
	$('ul.J_tabs').tabs('div.J_panes > div');
	//自动获取标签
	$('#J_gettags').on('click', function() {
		var title = $.trim($('#J_title').val());
		if(title == ''){
			$.pinphp.tip({content:lang.article_title_isempty, icon:'alert'});
			return false;
		}
		$.getJSON('{:U("item/ajax_gettags")}', {title:title}, function(result){
			if(result.status == 1){
				$('#J_tags').val(result.data);
			}else{
				$.pinphp.tip({content:result.msg});
			}
		});
	});
	$.formValidator.initConfig({formid:"wxinfo_form",autotip:true});
	$("#J_appid").formValidator({onshow:'公众号身份标识',onfocus:'公众号身份标识 '}).inputValidator({min:1,onerror:'公众号身份标识'});
	$("#J_secret").formValidator({onshow:'公众号的权限获取密钥',onfocus:'公众号的权限获取密钥'}).inputValidator({min:1,onerror:'公众号的权限获取密钥'});
	$("#J_signkey").formValidator({onshow:'公众号支付的密钥Key',onfocus:'公众号支付的密钥Key'}).inputValidator({min:1,onerror:'公众号支付的密钥Key'});
	$("#J_partnerid").formValidator({onshow:'财付通商户身份标识id',onfocus:'财付通商户身份标识id'}).inputValidator({min:1,onerror:'财付通商户身份标识id'});
	$("#J_partnerkey").formValidator({onshow:'财付通商户权限密钥',onfocus:'财付通商户权限密钥'}).inputValidator({min:1,onerror:'财付通商户权限密钥'});
});

function add_file()
{
    $("#next_upload_file .uplode_file").clone().insertAfter($("#first_upload_file .uplode_file:last"));
}
function del_file_box(obj)
{
	$(obj).parent().parent().remove();
}
function add_attr()
{
    $("#hidden_attr .add_item_attr").clone().insertAfter($("#item_attr .add_item_attr:last"));
}
function del_attr(obj)
{
	$(obj).parent().parent().remove();
}
</script>

</body>
</html>
<script src="__PUBLIC__/js/jquery/plugins/colorpicker.js"></script>
<script src="__PUBLIC__/js/kindeditor/kindeditor.js"></script>
<script>

$(function() {
	KindEditor.create('#info', {
		uploadJson : '{:U("attachment/editer_upload")}',
		fileManagerJson : '{:U("attachment/editer_manager")}',
		allowFileManager : true
	});
	$('ul.J_tabs').tabs('div.J_panes > div');

	//颜色选择器
	$('.J_color_picker').colorpicker();

	//自动获取标签
	$('#J_gettags').on('click', function() {
		var title = $.trim($('#J_title').val());
		if(title == ''){
			$.pinphp.tip({content:lang.article_title_isempty, icon:'alert'});
			return false;
		}
		$.getJSON('{:U("article/ajax_gettags")}', {title:title}, function(result){
			if(result.status == 1){
				$('#J_tags').val(result.data);
			}else{
				$.pinphp.tip({content:result.msg});
			}
		});
	});
	
});
</script>