<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8" />
<title>{$page_seo.title}</title>
<meta name="keywords" content="{$page_seo.keywords}" />
<meta name="description" content="{$page_seo.description}" />
<meta name="viewport" content="width=device-width,minimum-scale=0.5,initial-scale=1.0,maximum-scale=2.0,user-scalable=0" />
<meta content="telephone=yes" name="format-detection" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/maoyan/css/main.css?v=<php>echo time();</php>">
<script type="text/javascript" src="__PUBLIC__/maoyan/js/zepto.js"></script>
</head>
<body>
<div id="page-contents">
    <div id="header" class="clear clearfix">
        <div class="back"></div>
        <div class="title-fr">验证手机号</div>
    </div>
    <div id="header-placeholder">&nbsp;</div>

    <div id="content">
        <form name="" id="register_form" method="post" action="{:U('User/verifyMobile')}">
            <div style="line-height: 2; font-size: 16px;">欢迎，{$Think.session.user_info.nickname}注册，新用户请输入手机号</div>
            <input name="mobile" id="J_mobile" placeholder="请输入手机号" required="required" class="text width10" type="text">
            <input name="sendms" id="sendsms" value="获取验证码" class="login_btn" title="立即登录" type="button">
            <input name="sms" placeholder="请点击获取验证码，并输入收到的短信验证码" required="required" class="text width10" type="text">
            <input name="Submit" value="立即验证并登录" class="login_btn" title="立即验证" type="submit">
            <input name="ret_url" value="{$ret_url}" type="hidden">
            <input name="uid" value="{$Think.session.user_info.id}" type="hidden">
        </form>
    </div>
    <div class="bot_nav">
        <ul class="clear clearfix">
            <li class="item" src="{:U('Index/index')}">
                <img src="__PUBLIC__/maoyan/images/main_bottom_tab_home_normal.png" alt="猫眼商城" />
            </li>
            <li class="item" src="{:U('Cate/showAllCategories')}">
                <img src="__PUBLIC__/maoyan/images/main_bottom_tab_category_normal.png" alt="商品分类" />
            </li>
            <li class="item" src="{:U('Search/index?type=item')}">
                <img src="__PUBLIC__/maoyan/images/main_bottom_tab_search_normal.png" alt="搜索" />
            </li>
            <li class="item cart" src="{:U('Shopcart/index')}">
                <img src="__PUBLIC__/maoyan/images/main_bottom_tab_cart_normal.png" alt="购物车" />
            </li>
            <li class="item cur" src="{:U('User/account')}">
                <img src="__PUBLIC__/maoyan/images/main_bottom_tab_personal_normal.png" alt="我的账户" />
            </li>
        </ul>
    </div>
    <div class="bot_nav_placeholder"></div>
</div>
<script type="text/javascript">
var retUrl = '{$ret_url}';
$(function(){
    $('#header .back').click(function(){
        history.back();
    });

    $('#sendsms').click(function(event) {
        sendSmsVerifyCode();
    });
    window.timer = null;
    function sendSmsVerifyCode() {
        var mobile = $('#J_mobile').val();
        if (mobile.length < 1) {
            alert('请输入手机号');
            return false;
        }
        $.getJSON('{:U("User/ajaxSendSmsVerifyCode")}', {
            mobile: mobile
        }, function(data) {
            if (data.status == 1) {
                alert('短信已经发送，请查收。60秒后可以重新发送！');
                $('#sendsms').unbind('click');
                window.resendTimeCount = 60;
                window.timer = setInterval(function(){
                    window.resendTimeCount--;
                    if(window.resendTimeCount > 0) {
                        $('#sendsms').val('请在'+ window.resendTimeCount + '秒后重新发送');
                    } else {
                        clearInterval(window.resendTimeCount);
                        $('#sendsms').val('发送验证码');
                    }
                }, 1000);
                setTimeout(function() {
                    $('#sendsms').click(function(event) {
                        sendSmsVerifyCode();
                    });
                }, 60);
            } else {
                alert('短信发送失败，请稍候再试');
            }
        });
    }
    $('li[src]').click(function(){
        location.href=$(this).attr('src');
    });
});
</script>
</body>
</html>